@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
}

.body::-webkit-scrollbar {
  width: 5px;
}
.body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 239, 239, 0.3);
  background: #cfedff;
  border-radius: 5px;
}
.body::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

body {
  background-color: #f9fdff7c;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

button[disabled] {
  opacity: 0.4;
}
